# Данные (не загружаем на GitHub)
data/
*.csv

# Исключаем csv (кроме файлов предсказаний)
!submissions/*.csv

# Jupyter Notebook (кроме основного кода)
.ipynb_checkpoints/
*.ipynb
!code/ML.ipynb

# Файлы Python
__pycache__/
*.pyc

# Временные файлы
.DS_Store
Thumbs.db
*.log